
@{
    ViewBag.Title = "Index";
}

<h2> Saludos Sonic</h2>

<a href="https://www.youtube.com/watch?v=KOnCE4qE3UY"> Sonic Speed </a>

<a href="https://www.youtube.com/watch?v=Jw6KRkx0vNg"> Sonic's The Name Speed My Game </a>

